
.headers {
    margin-left: 25px;
    margin-top: 25px;
    color:darkcyan;
    font-family: "Arial", Arial, Helvetica, sans-serif;
    font-weight: bold;
}

.navbar-brand {
    font-size: 35px;
    font-weight: bold;
}


.nav-link {
    font-size: 20px;
    margin-left: 50px;
    margin-top: 15px;
}

.paragraph {
    font-size: 20px;
    margin-right: 75px;
    margin-left: 25px;
}

.main_img {
    float: left;
    width: "50";
    height: "50"; 
}

.small_image_1 {
    width: "25";
    height: "25";
    margin-top: 0px;
    margin-left:0px;
}

.small_image_2 {
    width: "25";
    height: "25";
    margin-top: 0px;
    margin-right: 0px;
}
.small_image_3 {
    width: "25";
    height: "25";
    margin-bottom: 0px;
    margin-left: 0px;
}
.small_image_4 {
    width: "25";
    height: "25";
    margin-bottom: 0px;
    margin-right: 0px;
}


.compare_image {
    width: "25";
    height: "25";
}

.dataframe {
    margin-left: 25px;
    margin-top: 25px;
}